html,
body {
  height: 100%;
  background-color: lightskyblue;
}

body {
  display: flex;
  align-items: center;
  padding: 40pt;
}

#red{
  color: red;
}
a{
  color: darkblue;
}
hr{
  background-color:purple
}
